<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Housing Affordability Visualizations</title>
    <style>
        img.responsive-svg {
            max-width: 100%; /* Ensures the image is never wider than its container */
            height: auto; /* Maintains aspect ratio */
            display: block; /* Fixes default img inline behavior */
            margin: 0 auto; /* Centers the image */
        }
    </style>
</head>
<body>
    <h1>Housing Affordability Visualizations</h1>
    
    <form action="/" method="POST">
        <div>
            <label for="year">Select Year:</label>
            <input type="number" name="year" id="year" value="2020" required>
        </div>
        
        <div>
            <label for="city">Select City for Bar and Line Plot:</label>
            <select name="city" id="city">
                {% for city in city_options %}
                <option value="{{ city }}" {% if city == 'New York' %}selected{% endif %}>{{ city }}</option>
                {% endfor %}
            </select>
        </div>

        <div>
            <label for="col">Select Metric for Bar and Line Plot:</label>
            <select name="col" id="col">
                {% for col in col_options %}
                <option value="{{ col }}" {% if col == 'MORTGAGE30US' %}selected{% endif %}>{{ col }}</option>
                {% endfor %}
            </select>
        </div>

        <div>
            <label>Select Cities for Five City Line Plot:</label>
            {% set default_cities = ['New York', 'Chicago', 'Los Angeles', 'Dallas', 'Houston'] %}
            {% for i in range(1, 6) %}
            <select name="city{{i}}">
                {% for city in city_options %}
                <option value="{{ city }}" {% if city == default_cities[i-1] %}selected{% endif %}>{{ city }}</option>
                {% endfor %}
            </select>
            {% endfor %}
        </div>

        <button type="submit">Generate Plots</button>
    </form>

    {% if cache_buster %}
        <!-- Direct references to static SVG files with cache-buster -->
        <h2>Heatmap of Housing Affordability Index For Selected year</h2>
        <img class="responsive-svg" src="{{ url_for('static', filename='heatmap.svg') }}?{{ cache_buster }}" alt="Heatmap Plot">

        <h2>Five City Line Plot Of Affordability Over Time For Selected Cities</h2>
        <img class="responsive-svg" src="{{ url_for('static', filename='five_city_line_plot.svg') }}?{{ cache_buster }}" alt="Five City Line Plot">

        <h2>Bar and Line Plot of Total Sales And Selected Data Over Time</h2>
        <img class="responsive-svg" src="{{ url_for('static', filename='bar_and_line_plot.svg') }}?{{ cache_buster }}" alt="Bar and Line Plot">
    {% endif %}
</body>
</html>
