<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Housing Affordability Visualizations</title>
    <!-- <style>
        img.responsive-svg {
            max-width: 100%; /* Ensures the image is never wider than its container */
            height: auto; /* Maintains aspect ratio */
            display: block; /* Fixes default img inline behavior */
            margin: 0 auto; /* Centers the image */
        }
    </style> -->
</head>
<body>
    <h1>Housing Affordability Visualizations</h1>
    
    <form action="/" method="POST">
        <div>
            <label for="year">Select Year:</label>
            <input type="number" name="year" id="year" required>
        </div>
        
        <div>
            <label for="city">Select City for Bar and Line Plot:</label>
            <select name="city" id="city">
                {% for city in city_options %}
                <option value="{{ city }}">{{ city }}</option>
                {% endfor %}
            </select>
        </div>

        <div>
            <label>Select Cities for Five City Line Plot:</label>
            {% for i in range(1, 6) %}
            <select name="city{{i}}">
                <option value="">Select a City</option>
                {% for city in city_options %}
                <option value="{{ city }}">{{ city }}</option>
                {% endfor %}
            </select>
            {% endfor %}
        </div>

        <button type="submit">Generate Plots</button>
    </form>

    {% if cache_buster %}
        <!-- Direct references to static SVG files with cache-buster -->
        <h2>Heatmap for Year</h2>
        <img class="responsive-svg" src="{{ url_for('static', filename='heatmap.svg') }}?{{ cache_buster }}" alt="Heatmap Plot">

        <h2>Five City Line Plot</h2>
        <img class="responsive-svg" src="{{ url_for('static', filename='five_city_line_plot.svg') }}?{{ cache_buster }}" alt="Five City Line Plot">

        <h2>Bar and Line Plot</h2>
        <img class="responsive-svg" src="{{ url_for('static', filename='bar_and_line_plot.svg') }}?{{ cache_buster }}" alt="Bar and Line Plot">
    {% endif %}
</body>
</html>
